<h2>Concurso Fotos de Férias</h2>

<div id="vacationPhotoContestFormContainer">
    <form class="form-horizontal" role="form"
        id="vacationPhotoContestForm"
        enctype="multipart/form-data" method="POST"
        action="/contest/vacation-photo/{{year}}/{{month}}">
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <div class="form-group">
            <label for="fieldName" class="col-sm-2 control-label">Nome</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="fieldName" name="name">
            </div>
        </div>    
        <div class="form-group">
            <label for="fieldEmail" class="col-sm-2 control-label">E-mail</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" required id="fieldName" name="email">
            </div>
        </div>
        <div class="form-group">
            <label for="fieldPhoto" class="col-sm-2 control-label">Foto de férias</label>
            <div class="col-sm-4">
                <input type="file" class="form-control" required accept="image/*" id="fieldPhoto" name="photo">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 col-sm-4">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </form>
</div>

{{#section 'scripts'}}
    <script>
        document.getElementById('vacationPhotoContestForm')
        .addEventListener('submit', evt => {
            evt.preventDefault()
            const body = new FormData(evt.target)
            const container =
            document.getElementById('vacationPhotoContestFormContainer')
            fetch('/api/vacation-photo-contest/{{year}}/{{month}}', { method: 'post', body })
            .then(resp => {
                if(resp.status < 200 || resp.status >= 300)
                throw new Error(`Falha na requisição com status ${resp.status}`)
                return resp.json()
            })
            .then(json => {
                container.innerHTML = '<b>Obrigado por enviar sua foto!</b>'
            })
            .catch(err => {
                container.innerHTML = `<b>Desculpe-nos houve um erro ao enviar a foto. Por favor <a href="/newsletter">tente novamente.</a>`
            })
        })
    </script>
{{/section}}
<a href="/home">Voltar</a>